//*  ---- VARIABLES ----

$bg_main: #9cccf3;
$text_light: #fff;
$text_med: #53627c;
$text_dark: #1e2432;
$red: #ff1e42;
$darkred: #c3112d;
$orange: #ff8c00;
$bg_light: #e6f7ff;
$primary: #e74c3c;
$secondary: #3498db;
$bg_dark: #2c3e50;
